.mat-card-title {
  word-break: break-word;
  font-size: 18px;
}

.header-image {
  background-size: cover;
  height: 70px;
  width: 70px;
  margin-left: -10px;
}

.price-container {
  .mat-card-title {
    font-size: 16px;
    display: inline;
  }
  .mat-card-subtitle {
    display: inline;
    font-size: 13px;
    float: right;
  }
}
