@import "../../variables";

mat-expansion-panel {
  border-top: 5px solid $light-gray;
}

mat-expansion-panel-header {
  border-bottom: 1px solid lightgray;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

.header-image {
  background-size: cover;
  margin-right: 15px;
}

.panel-title-text {
  margin-top: 10px;
}
