@import "../../variables.scss";

.card-container {
  margin-top: 1px;
  padding: 30px;
  border-top: 1px solid $light-gray;
}

.price-container {
  position: absolute;
  right: 20px;
  .mat-card-title {
    font-size: 18px;
  }
  .mat-card-subtitle {
    font-size: 13px;
  }
}
