<mat-card class="card-container mat-elevation-z">
  <offer-header [offer]="offer"></offer-header>
  <mat-card-content>
    <p>{{ offer.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button [routerLink]="[ '/offers', offer.id ]"
       *ngIf="!offer.isAccepted">
      See offer
    </a>
    <button mat-raised-button color="accent"
            [ngClass]="{ 'shareButton': !offer.isAccepted }"
            (click)="share(offer)">
      Share
      <mat-icon aria-hidden="false" aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
