/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  max-width: 450px;
  margin: 50px auto;
  font-family: Roboto, Arial, sans-serif;
}
