mat-button-toggle {
  white-space: initial;
  flex-grow: 1;
}

mat-button-toggle-group {
  width: 100%;
}

.group-icon {
  vertical-align: middle;
  margin-right: 15px;
}

.group-price {
  font-size: 16px;
}
