<h3 *ngIf="isOfferIdPresent && !isLoading && !isOfferFound">Invalid offer.</h3>
<h3 *ngIf="isOfferIdPresent && isLoading">Loading offer ...</h3>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<a mat-raised-button [routerLink]="['/']">View all available offers.</a>
<br />
<br />

<mat-card class="card-container" *ngIf="isOfferFound">
  <offer-header [offer]="offer"></offer-header>
  <mat-card-content>
    <p>{{ offer.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"
            *ngIf="!offer.isAccepted"
            (click)="startPayment(offer)">
      Pay
    </button>
    <button mat-raised-button color="accent"
            [ngClass]="{ 'shareButton': !offer.isAccepted }"
            (click)="share(offer)">Share</button>
  </mat-card-actions>
</mat-card>
